node_modules
dist/popup.js
dist/popup.js.LICENSE.txt
dist/scrapeActiveWindow.js
dist/scrapeActiveWindow.js.LICENSE.txt
dist/scrapePdf.js
dist/scrapePdf.js.LICENSE.txt
dist/sw.js
dist/sw.js.LICENSE.txt